.container-fluid {
    background:black;
    outline: .1px double black;
    padding: 5%;
}
.jumbotron {
    background-image: url("./img/background.jpg");
    background-size: 100%;
    background-repeat:no-repeat;
    display: compact;
    color:white;
}
h2 {text-align: center;
    color: white}
h1 {text-align: center;
    color: white}
p {text-align: center;
    color: white}
.span6 {style="float: none; margin: 0 auto;}