.container-fluid {
  background: black;
  outline: .1px double black;
  padding: 5%;
}

.jumbotron {
  background-image: url("./img/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

h1, h2, p {
  color: white;
}

.span6 {
  margin: 0 auto;
}
